<!DOCTYPE html>
<html lang="ru-RU" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title> KartinaPlayer </title>
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />                  
		
		<script src="./libs/jquery-3.1.1.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="./libs/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="./libs/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="./libs/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		<!-- Angular Material requires Angular.js Libraries -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

		<!-- Angular Material Library -->
		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
	  
		<link rel="stylesheet" href="./pl.css" type="text/css">	
	</head>

	<body>
	
	<div id="KartinaPlayerApp" ng-app="KartinaPlayerApp">
	<div ng-controller="HomeCtrl as controller">
	
	
	
	<div ng-controller="AppCtrl" ng-cloak="" class="tabsdemoStaticTabs" ng-app="MyApp">
		  <md-content class="md-padding">
				<md-tabs class="md-accent" md-selected="data.selectedIndex" md-align-tabs="top">
					  <md-tab id="tab1">
							<md-tab-label>{{data.firstLabel}}</md-tab-label>
							<md-tab-body>
								  View for Item #1 <br>
								  data.selectedIndex = 0;
							</md-tab-body>
					  </md-tab>
					  <md-tab id="tab2">
							<md-tab-label>{{data.secondLabel}}</md-tab-label>
							<md-tab-body>
								  View for Item #2 <br>
								  data.selectedIndex = 1;
							</md-tab-body>
					  </md-tab>
					  <md-tab id="tab3">
							<md-tab-label>Плейлист</md-tab-label>
							<md-tab-body>
								  View for Item #3 <br>
								  data.selectedIndex = 2;
							</md-tab-body>
					  </md-tab>
				</md-tabs>
		  </md-content>

		  <div class="md-padding" layout="row" layout-sm="column" layout-align="left center" style="padding-top: 0;">
				Здесь будет появляться таймбар для архива
				<!--md-checkbox ng-model="data.secondLocked" aria-label="Disable item two?" style="margin: 5px;">
					Disable item two?
				</md-checkbox>
				<md-checkbox ng-model="data.bottom" aria-label="Align tabs to bottom?" style="margin: 5px;">
					Align tabs to bottom?
				</md-checkbox-->
		  </div>
	</div>

		<!--ul class="nav nav-tabs hide">
			<li class="active"><a data-toggle="tab" href="#player_logon">Форма логона</a></li>
			<li><a data-toggle="tab" href="#player_view">Плеер</a></li>
		    <li><a data-toggle="tab" href="#player_playlist">Плейлист</a></li>
		</ul>
		 
		<div class="tab-content">
			<div id="player_logon" class="tab-pane fade in active">
				<div class="videogular-container black">
					<div class="logon">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1">KARTINA<br>LOGO</span>
							<input id="user_login" type="text" class="form-control" placeholder="Логин" aria-describedby="basic-addon1" value="857957">
							<input id="user_pass" type="text" class="form-control" placeholder="Пароль" aria-describedby="basic-addon1" value="846690">
						</div>
						<div align="right"> <button ng-click="controller.login();" type="button" class="btn btn-default">Войти</button> </div>
						<p id="showErrors"></p>
					</div>					
				</div>
		  </div>
		  <div id="player_view" class="tab-pane fade">
				<div class="videogular-container">
					<videogular vg-player-ready="controller.onPlayerReady($API)" vg-complete="controller.onCompleteVideo()" vg-theme="controller.config.theme.url">
						<vg-media vg-src="controller.config.sources" vg-hls
								  vg-tracks="controller.config.tracks">
						</vg-media>

						<vg-controls>
							<vg-play-pause-button></vg-play-pause-button>
							<vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
							<vg-scrub-bar>
								<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
							</vg-scrub-bar>
							<vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
							<vg-volume>
								<vg-mute-button></vg-mute-button>
								<vg-volume-bar></vg-volume-bar>
							</vg-volume>
							<vg-fullscreen-button></vg-fullscreen-button>
								<div class="my-button iconButton"><a ng-click="controller.show_playlist();" target="_blank">Плейлист</a></div>
								<div class="my-button iconButton"><a ng-click="controller.logout();"  target="_blank">Выход</a></div>
						</vg-controls>

						<vg-overlay-play></vg-overlay-play>
						<vg-buffering></vg-buffering>
						<vg-poster vg-url="controller.config.plugins.poster"></vg-poster>
					</videogular>
				</div>
		  </div>
		  <div id="player_playlist" class="tab-pane fade">
				<div class="videogular-container">
					<div class="playlist scroll" id="playlist">					
						<ul class="nav nav-tabs" id="playlist_group_names">
							<li class="active"><a data-toggle="tab" href="#group_ch1">group_ch1</a></li>
							<li><a data-toggle="tab" href="#group_ch2">group_ch2</a></li>
						</ul>
						<div class="tab-content" id="playlist_group_channels" ng-click="chooseChannel($event)">
							<div id="group_ch1" class="tab-pane fade">
								
							</div>
							<div id="group_ch2" class="tab-pane fade">
							</div>						
						</div>
					</div>		
				</div>
		  </div>
		</div-->

	</div>
	</div>		

	</body>
	
	<script src="./libs/angular.min.js"></script>
	<script src="./libs/angular-sanitize.min.js"></script>
	<script src="./libs/videogular.js"></script>
	<script src="./libs/vg-controls.js"></script>
	<script src="./libs/vg-overlay-play.js"></script>
	<script src="./libs/vg-poster.js"></script>
	<script src="./libs/vg-buffering.js"></script>
	<script src="./libs/hls.min.js"></script>
	<script src="./libs/vg-hls.js"></script>
	<script src="./libs/fingerprint2.min.js"></script>

	                                                      	
	<script src="./pl.js"></script>
	<script>
		/*создали плеер */
		var player = KartinaPlayerFactory({server_url: "https://rustvt.kartina.tv/", autologin: true});
		/*запустили*/
		player.run();
	</script>
	
</html>









